.tools-for-edit{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    background-color: #747272;
    width: 100%;
}
.tools-for-edit button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    
}
.each-toool{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 1px solid black;
    background: #747272;
    border-radius: 5px;
}
